@media screen and (max-width: 322px) {

.latest .right {
  display: none;
}

}

@media screen and (min-width: 534px){ 

   
input[type="text"] {
  
    width: 460px;
    height: 30px;
    font-size: 16px;     
}


 .lightbox img {
   /*max-width: 100%;*/
   border: 1px solid white;
   transition-property: box-shadow;
   transition-duration:  .4s;
   margin-bottom: 30px;
   margin-left: 30px;
   float: left;

 }


#overlay img {
  width: 80%;
  border: 2px solid  white;
  margin-top: 22%;
}


#overlay p {
color: white;
width: 300px;
margin: 0 auto;
padding-top: 5px;


}

 #overlay #btnClose{
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 2em;
   background-color: rgba(0,0,0,0.0);
  color: grey;
  border: none;
}

#overlay #btnPrev {

  position: absolute;
   float: left;
   top: 35%;
  left: 3%;
  font-size: 2em;
  background-color: rgba(0,0,0,0.0);
  color: grey;
  border: none;

}

#overlay #btnNext {

  position: absolute;
   float: right;
   top: 35%;
  right: 3%;
  font-size: 2em;
  background-color: rgba(0,0,0,0.0);
  color: grey;
  border: none;

}


}


@media screen and (min-width: 765px){ 



#overlay p {
color: white;
width: 600px;
margin: 0 auto;
padding-top: 15px;

}

#overlay img {
  margin-top: 10%;
  border: 2px solid white;
  border-radius: 1%; 
  width: 60%;
 

}


#overlay #btnClose{
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 2em;
   background-color: rgba(0,0,0,0.0);
  color: grey;
  border: none;
}

#overlay #btnPrev {

  position: absolute;
   float: left;
   top: 40%;
  left: 10%;
  font-size: 2em;
  background-color: rgba(0,0,0,0.0);
  color: grey;
  border: none;

}

#overlay #btnNext {

  position: absolute;
  float: right;
  top: 40%;
  right: 10%;
  font-size: 2em;
  background-color: rgba(0,0,0,0.0);
  color: grey;
  border: none;

}


}



@media screen and (max-width: 767px) {
  .secondNav {
    display: none;
  }

  .quotation {
    display: none;
  }

 
}

@media screen and (min-width: 768px) {

.hamburger {
  display: none;
}

.first li{
  display: none;

}

.secondNav li {
  display: inline-block;  
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2em;
  color: purple;
}

.secondNav li a {
  color: #4b0082;
}

.quotation {
  margin-right: 30px;
  width: 500px;
  text-align: center;
  margin-top: 10px;
  float: right;


}

.quotation p{

  font-size: 1em;
  float: right;
}



}





@media screen and (min-width: 800px) {
 
  .quotation p {
    float: left;
  }

  .quotation {
        margin-left: 40px;
        margin-top: 100px;
        float: left;
  }

}

@media screen and (min-width: 1100px) {

#overlay p {
color: white;
width: 600px;
margin: 0 auto;
padding-top: 15px;

}

#overlay img {
  margin-top: 15%;
  border: 2px solid white;
  border-radius: 1%; 
  width: 40%;
 

}


#overlay #btnClose{
  position: absolute;
  top: 10%;
  right: 20%;
  font-size: 2em;
   background-color: rgba(0,0,0,0.0);
  color: grey;
  border: none;
}

#overlay #btnPrev {

  position: absolute;
  float: left;
  top: 45%;
  left: 20%;
  font-size: 2em;
  background-color: rgba(0,0,0,0.0);
  color: grey;
  border: none;

}

#overlay #btnNext {

  position: absolute;
  float: right;
  top: 45%;
  right: 20%;
  font-size: 2em;
  background-color: rgba(0,0,0,0.0);
  color: grey;
  border: none;

}


}






