/*****************
BODY
*****************/

* {
  box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans", sans-serif; 
    background-color: gray;;
    width: 100%;
    max-width: 1300px;
    height: auto;    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/*************************
 HOME-NAVIGATOION
 
 *************************/


  a {
     color: black;
} 

  a:visited {
     color: black;
}

  a:hover {
     color: orange;
}

/****************************
Hamburger Menu
******************************/




/****************************
End ofHamburger Menu
******************************/

 
/********************
Home
**********************/


#wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0; 

}

.container {  
    background-image: url("../img/NewCharlie2.jpg");
    background-repeat:  no-repeat;   
    height: calc(100vh - 50px);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    border-bottom: 2px solid orange;
    border-top: 2px solid orange;
    margin-top: 0;             
}

#brand{
    margin-top: 45px;
    margin-left: 20px;
    font-weight: bold;
    color: #4b0082;
    font-size: 1.4em;
    font-family: 'Changa One', sans-serif; 
    font-weight: normal;
    text-shadow: 5px 5px 7px grey;
  
}


/*************************
 HOME-FOOTER
**************************/

.futer a {
text-decoration: none;
color: black;
font-weight: bold;

}

.futer {
  background: white;
  height: 50px;
}

.futer p {
  padding-top: 8px;
  font-size: .6em;
  display: inline-block;
  font-weight: bold;
  color: #4b0082;

}

.left {
  float: left;
  margin-left: 20px;
}

.right {
  float: right;
  margin-right: 20px;
}

h2 {

  color: #000000;
}

.futer {
   flex: 1;
}





/*********************************
ABOUT PAGE - TO USE BOX SHADOW FILTER EFFECT ON MAIN IMAGE

**********************************/
#section {
background-image: url("../img/aboutbackground.png");


}



.artgallery img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  margin-top: 60px;
  border-radius: 30px;

}
.artgallery {
 /* background-image: url("../images/Navnew.jpg");*/
  height: 100%;
}

}

.span p {

 text-align: center;

}

/***********************
MULTI COLUMN
************************/


.bio:first-line {
  font-weight: bold; 
  font-size: 1em;
} 

.bio::first-letter {
  float:left;
  font-size: 1em;
  color: orange;
  padding:5px 10px;
  background: #384047;
  margin: 5px 10px 0 0;
  border-radius:5px;
  line-height: 1;
  
}

.bio {
  
  margin-top: 80px;
  margin-left: 50px;
  margin-right: 50px;

}

.bio p {
  -webkit-column-count: 2;
  margin-left: 50px;
  margin-right: 20px;
  font: 1em Tangerine;
  -webkit-column-rule: 1px dotted;
  -webkit-column-width: 250px;
}

.bio p {
  -moz-column-count: 2;
  margin-left: 50px;
  margin-right: 20px;
  font: 1em Tangerine;
  -moz-column-rule: 1px dotted;
  -moz-column-width: 250px;
}

/***************************************
GALLERY
****************************************/


.clearfix::after {
    content: "";
    display: table;
    clear: both;


}



/*****************
Search Field
******************/

.field{
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1;
  width:100%;
  height: 140px;
  border-bottom: 1px solid orange;
}


.head h3{
  color: orange;
}


input[type="text"] {
  
  
    width: 200px;
    height: 30px;
    font-size: 16px;
    background-color: white;
    border-radius: 4px;
    margin-top: 3px;
    margin-bottom: 22px;
   /* margin-left: 50px;*/
    padding: 15px;
  
}

input {

   border: solid 3px grey;
   transition: border-color .6s;
   transition-property: border-color, background-color, border-radius;

}

 input:hover {
    border-color: green;
    background-color: #add8e6;
    border-radius: 20px;

 }

input:focus {
  outline: none;
}

/**********************************
SOCIAL MEDIA ICONS
***********************************/

.social {
  padding: 0;
}

a.social {
    display: inline-block;
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    opacity: .8;
    transition: all .5s;
    text-decoration: none;
    padding: 11px;

  }

ul {
  list-style: none;

}

.social li {
  display: inline-block;
  position: relative;
  bottom: 35px;
  padding: 10px;

}


.social li:hover {
  transform: rotate(-40deg);

}

a.twitter {
  background-image: url(../imgs/twitter.svg);
}
a.linkedin {
  background-image: url(../imgs/linkedin.svg);
}
a.github {
  background-image: url(../imgs/github.svg);
}
a.social:hover {
  opacity: .5;
}


/****************
Gallery
******************/

.gallery {
  max-width: 100%;
  margin-top: 180px;
}


.lightbox  {
  list-style: none;
  max-width: 980px;
  padding: 10px;
  margin: 0 auto;
  
}

img {
    transition: transform .5s;
    width: 90%;
    height: 100%;
}

img:hover {
transform:skewY(1.5deg);

}

 .lightbox img {
   max-width: 100%;
   border: 2px solid white;
   transition-property: box-shadow;
   transition-duration:  .4s;
   margin-bottom: 30px;

 }
  

img:hover {
  
  box-shadow: 0 0 15px rgba(0,0, 0, .7);
 

}


/********************
FOOTER
********************/

.top {
  font-size: .6em;
  font-weight: bold;
  color: black;
}

.top:hover {
  color: orange;
}

.copy{
  clear: both;
  font-weight: bold;
  color: black;
  font-size: .8em;
  margin-top: 30px;
  margin-bottom: 30px;
}

.copy a {
  text-decoration: none;
  color: orange;
}




/***********************
Overlay
************************/

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: rgba(0,0,0,0.80);
    display: none;
    z-index: 2;
  
}


#overlay img {
  max-height: 50vh;
  max-width: 80%;
  border: 2px solid  white;
  margin-top: 20%;
}

#overlay p {
color: white;
width: 300px;
margin: 0 auto;
padding-top: 5px;

}


#overlay #btnClose{
  position: absolute;
  top: 4%;
  right: 15%;
  font-size: 1em;
   background-color: rgba(0,0,0,0.0);
  color: white;
  border: none;
  font-weight: bold;
}

#overlay #btnPrev {

  position: absolute;
   float: left;
   top: 25%;
  left: 3%;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.0);
  color: white;
  border: none;
  font-weight: bold;

}

#overlay #btnNext {

  position: absolute;
   float: right;
   top: 25%;
  right: 3%;
  font-size: 1.5em;
  background-color: rgba(0,0,0,0.0);
  color: white;
  border: none;
  font-weight: bold;

}



/***************************
Add Overlay buttons Hover
****************************/

#overlay #btnClose:hover{
  color: white;
}

#overlay #btnNext:hover{
  color: white;
}

#overlay #btnPrev:hover{
  color: white;
}

/****************************
Remove Overlay Buttons Outline
*****************************/

#overlay #btnNext:focus {
  outline:none;
}

#overlay #btnPrev:focus {
  outline:none;
}

#overlay #btnClose:focus {
  outline:none;
}


/*******************

MEDIA QUIRIES
******************/


