
/*****************
Home
*****************/

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;

}

body {

  margin: 0;

}

.pic {
      width: 100%;
      height: 500px;
    	padding-top:200px;
      background-image: url("../images/charles4.jpg");
    	margin-top: 0;
    	background-repeat: no-repeat;
    	background-size: cover;

    }


 .pic h1 {

 	text-align: left;
 	font-size: 70px;
  margin-top: -90px;
  margin-left: 40px;
  padding: 20px;


 }

 
 .pic p {
  text-align: left;
  margin-left: 320px;
  color: green;
  font-size: 20px;
  position: relative;
  bottom: 70px;
  font-style: italic;
 }

.nav {
	  position: absolute;
    height: 60px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: grey;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    border-bottom: 5px solid green;
}

  .nav li {
	display: inline-block;
	padding: 10px;
  font-weight: normal;

}


.nav li a {
	text-decoration: none;
  color: black;
  
}

  .beta {
    position: absolute;
    height: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: grey;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
}

.beta p {
  color: black;
  font-size: 12px;
  text-align: center;
  width: 100%;
  margin-left: 40px;
  margin-top: 10px;
  
}



/************
ABOUT
**************/

#section {
  background-color: #C2C2A3;
 


}

.gallery img {
  height: 250px;
  padding: 20px;
  margin-top: 100px;
  width: 50%;
  border-radius: 50px;
  margin-left: 200px;
  margin-right: 100px;
}

.gallery p {
  text-align: center;
  font-weight: bold;
  position: relative;
  bottom: 30px;
}

.bio {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  font-size: 0.9em;
  padding-bottom: 105px;
}
  





 


/**********************************
EXHIBITIONS AND AWARDS
************************************/


.glasses {
      width: 40%;
      height: 100px;
      padding-top:500px;
      background-image: url("../images/charles5.jpg");
      margin-top: 0;
      background-repeat: no-repeat;
      margin-left: 50px;
      position: relative;
      top: 90px;
      border-radius: 100px;
      border: 3px green solid;
    

}



.exhibitions {
      margin-top: 80px;
      margin-left: 40px;
      width: 40%;
      height: 100%;
      font-size: .9em;
      position: relative;
      top: 20px;
}

h4 {
  margin-left: 35px;
  position: relative;
  top: 10px;
}

.glasses,
.exhibitions {
  display: inline-block;

}

#body  {
  background-color: #C2C2A3
;
}




